<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Mercado Liebre</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap" rel="stylesheet">
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet"/>

    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <div class="logo-barra">
                <div class="logo">
                    <img src="images/logo-mercado-liebre.svg" alt="">
                </div>
                <br/>
                <div class="barra-busqueda">
                    <form class="tamañoBuscador">
                        <input type="search" placeholder=" Buscá Productos, Marcas y Categorías..." class="buscador">
                    </form>
                </div>
            </div>
            <br/>
            <div class="comprar-en-cuotas">
                <i class="fas fa-hand-holding-usd"></i>
                <strong>Comprá en cuotas y sin tarjeta de crédito</strong>
            </div>
        </div>
        <br/>
        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul class="right-navbar">
                <li><a href="#">Creá tu cuenta <i class="fas fa-credit-card"></i></a></li>
                <li><a href="#">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <br/>
        <a href="#" class="menu-hamburguesa">
            <i class="fas fa-bars"></i>
        </a>
        <br/>
    </header>

    <form action="/register" method="POST" class="form-registro">
        <div class="control-form">
            <label></label>
            <input type="text" name="usuario" placeholder="Nombre de usuario" class="control" required>
        </div>
        <div class="control-form">
            <label></label>
            <input type="password" name="clave" placeholder="Contraseña" class="control" required>
        </div>
        <div class="control-form">
            <button type="submit" class="botton-login">Enviar</button>
        </div>
    </form>

    <br/>

    <footer>
        <section>
            <article>
                <div class="imagen-footer">
                    <i class="fas fa-credit-card"></i>
                </div>
                <h4 class="footer-titulo">Pagá con tarjeta o en efectivo</h4>
                <p class="texto-footer">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </article>
            <br/>
            <article>
                <div class="imagen-footer">
                    <i class="fas fa-gift"></i>
                </div>
                <h4 class="footer-titulo">Envío gratis desde $ 2.500</h4>
                <p class="texto-footer">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos</p>
            </article>
            <br/>
            <article>
                <div class="imagen-footer">
                    <i class="fas fa-user-shield"></i>
                </div>
                <h4 class="footer-titulo">Seguridad, de principio a fin</h4>
                <p class="texto-footer">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@</p>
            </article>
            <br/>
            <article>
                <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </article>
        </section>
    </footer>
    
</body>
</html>